/* DARK GRAY: #262228 */
/* LIGHT GRAY: #262228 */
/* BLUE 1: #0375b4 */

body {
  font-family: 'Roboto', sans-serif;
  color: #262228;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 45pt;
  font-weight: 500;
}
img {
  width: 100%;
}
.blue1 {
  color: #0375b4;
}
.dark-gray {
  color: #262228;
}
.white {
  color: #ffffff;
}
.subtitle {
  font-size: 21pt;
}
.text-col {
  width: 80%;
    margin-left: auto;
  margin-right: auto;
}
.content {
  width: 90%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.paragraph {
  font-size: 14pt;
  line-height: 1.3em;
  margin: 10px 0px;
}

#hero {
  background-image: url(../img/heroPattern.png);
  height: 80vh;
}

#hero-text {

}

#hero-text h1{
  display: inline-block;
  border-bottom: 3px solid #262228;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#collect-data {
  min-height: 80vh;
  background: linear-gradient(119.72deg, rgba(3, 117, 180, 1) 0%, rgba(33, 67, 180, 1) 100%);
  color: white;
}
#collect-data .content {
  padding-top: 120px;
  padding-bottom: 120px;
}
#collect-data .subtitle {
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  display: inline-block;
  margin-bottom: 30px;
}

#watch-video {
  width: 230px;
  height: 100px;
  background-color: white;
  margin-top: 60px;
}


#made-for-music {
  min-height: 80vh; 
}

#made-for-music .content {
  padding-top: 120px;
  padding-bottom: 120px;
}
#music-header {
  margin-bottom: 20px;
}
#icon-items {
  margin: 60px 0px;
}
.icon-item {
  margin: 40px 0px;
  height: 20px;
}
.icon {
  height: 30px;
  width: 25px;
  float: left;
  margin-right: 20px;
}

#our-story {
 background-color: #262228;
 min-height: 80vh; 
}

#our-story .content {
  padding-top: 120px;
  padding-bottom: 120px;
}

#our-story h1 {
  margin-bottom: 20px;
}

.team-boxes{
  margin-top: 60px;
}

.team-box {
  text-align: center;
  margin: 20px 0px;
}

.team-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#contact-us {
  background-color: #0375b4;
  min-height: 40vh;
}

#contact-us .content {
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer .content {
  padding-top: 10px;
  padding-bottom: 10px;
}